@model IEnumerable<BasaDate.Models.personal_computer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.keyboard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.computer_mouse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monitor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.software.os)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.keyboard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.computer_mouse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monitor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.software.os)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
