@model BasaDate.Models.software

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>software</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.os)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.os)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.programs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.programs)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
